* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(90, 150, 165);
  display: flex;
  align-items: center;
  justify-content: center;

  #card {
    height: 480px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;

    #full-screen {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      display: none;
    }

    #storys {
      height: 120px;
      width: 100%;
      border-bottom: 1px solid #555;
      padding: 15px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;

      ::-webkit-scrollbar {
        display: none;
      }

      .story {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: linear-gradient(to right, red, orange);
        padding: 3px;
        overflow: hidden;
        display: inline-block;
        margin: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          object-position: center;
          background-color: #fff;
        }
      }
    }
  }
}
