* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffff;
}
body,
html {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  height: 50px;
  width: 50px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  transition: all linear 0.1s;
}

#main h1 {
  font-size: 9vw;
  font-weight: 900;
}