* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: relative;

  .elam {
    color: #fff;
    width: 100%;
    height: 140px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 9;
    mix-blend-mode: difference;

    h1 {
      font-size: 3vw;
    }

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      position: absolute;
      // transform: translate(-50%,-50%);
      opacity: 0;
      transition: all linear 0.3s;
    }
  }
}
